label{
    display: inline-block;
    margin: 10px 0;
}

input{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 20%;
}

.btn{
    background-color: burlywood;
    color: black;
    cursor: pointer;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 100%;
    width: 15%;
}

.form-con{
    background-color: antiquewhite;
    width: 35%;
}